

.inline-block {
  width: 50%;
  display: inline-block;
}
.block {
  display: inline-block;
}
.div-bg{
  background-color: #70809C;
  border-radius: 6px;
  clear: both;
  /* float: left; */
  width:100%;
}
.div-why{
  display:flex;
  float: left;
  width: 50%;
  height:250px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* flex-direction: column; */
}
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */
.inner-title{
  /* display:inline-block; */
  /* flex-direction: row; */
  flex-wrap: nowrap;
  margin-bottom: 50px;
  width: 100%;
}
.clear{
  clear: both;
}
