<!-- <div class="blocks">
  <mat-card class="inline-block">
    <p>what do we do?</p>
   </mat-card>
   <mat-card class="inline-block">
    <p>why us?</p>
   </mat-card>

</div> -->


<!-- https://stackoverflow.com/questions/56379504/2-angular-material-cards-next-to-each-other -->

<div class="container">
  <div class="row">
    <div class="div-why">
      <div class="row inner-title">
        <p>What do we do?</p>
      </div>
      <div class="row div-bg">
        <p>
          Some Text  col-xs-6 col-sm-6 col-md-6 col-lg-6
        </p>
      </div>
    </div>
    <div class="div-why">
      <div class="inner-title">
        <p>Why us?</p>
      </div>
      <div class="clear"></div>
      <div class="div-bg">
        <p>
          Some Text
        </p>
      </div>
    </div>
  </div>
</div>
