<div>
  Automovill In Press
<mat-card>
  <div class="scrolling-wrapper">
    <div class="card">
      <mat-card class="example-card">
        <img mat-card-sm-image src="assets/images/press/automovill-featured-in-business-today.jpg" >

      </mat-card>
      </div>
      <div class="card">
        <mat-card class="example-card">
          <img mat-card-sm-image src="assets/images/press/automovill-featured-in-business-world.jpg" >

        </mat-card>
        </div>
        <div class="card">
          <mat-card class="example-card">
            <img mat-card-sm-image src="assets/images/press/automovill-featured-in-economice-times-2.jpg" >

          </mat-card>
          </div>
          <div class="card">
            <mat-card class="example-card">
              <img mat-card-sm-image src="assets/images/press/automovill-featured-in-outlook.jpg" >

            </mat-card>
            </div>
  </div>


</mat-card>
</div>
