.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
  width: 1px;
}
.card {
    display: inline-block;
    margin-left: 5px;
}
