<div>
  Our Partners - B2B & cashless Insurance
<mat-card>
  <div class="scrolling-wrapper">
    <div class="card">
      <mat-card class="example-card">
        <img mat-card-sm-image src="assets/images/partner/cardekho-our-enterprise-client.jpg" >

      </mat-card>
      </div>
      <div class="card">
        <mat-card class="example-card">
          <img mat-card-sm-image src="assets/images/partner/cars24-our-enterprise-client.png" >

        </mat-card>
        </div>
        <div class="card">
          <mat-card class="example-card">
            <img mat-card-sm-image src="assets/images/partner/lease-plan-our-enterprise-client.png" >

          </mat-card>
          </div>
          <div class="card">
            <mat-card class="example-card">
              <img mat-card-sm-image src="assets/images/cashless/our-insurance-partner-digit.png" >

            </mat-card>
            </div>
            <div class="card">
              <mat-card class="example-card">
                <img mat-card-sm-image src="assets/images/cashless/our-insurance-partner-edelweiss.jpg" >

              </mat-card>
              </div>
              <div class="card">
                <mat-card class="example-card">
                  <img mat-card-sm-image src="assets/images/cashless/our-insurance-partner-future-generali.jpg" >

                </mat-card>
              </div>
  </div>


</mat-card>
</div>
