<mat-toolbar color="primary">

<span class="block-logo">
  <ul>
    <li> <img class="img-fluid" src="assets/images/icons/Block-logo.png"></li>
  </ul>
</span>

  <span class="logo-placeholder">
  <ul>
    <li> <img class="img-fluid" src="assets/images/icons/logo.png"><P>AUTOMOVILL</P> </li>
  </ul>
  </span>


    <div class="spacer">
  <!-- this div is for space only -->
    </div>
    <div class="header-title">
      <button class="title">
        Since 2016|<br>100K+ Happy Customers
      </button>
    </div>
    <div class="float-right">
    <div class="install-text">
      <span>UPTO ₹:999 OFF<sup>*</sup><br></span>
      <span>on your first<br> app order</span>

    </div>
    <div class="float-right">
    <button class="install-button">
      INSTALL
    </button>
  </div>
</div>
</mat-toolbar>
<nav class="navbar navbar-expand-lg navbar-light navbar-custom sticky-top">
<!-- [ngStyle]="{'position': $(document.scrollY) > 200 ? 'fixed' : 'sticky'}" -->

<!-- [ngClass]="{'changePosition':change}" -->
<!-- ="check"> -->
<div >
  <button mat-button class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
</div>
<mat-icon>location_on</mat-icon>

    <div class="spacer">
<!-- this div is for space only -->
    </div>

    <mat-icon>settings</mat-icon>
    <mat-icon>local_cafe</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>help</mat-icon>
    <!-- perm_phone_msg
    perm_identity -->



    </nav>

