.spacer{
  flex:1 1 auto;
}
.install-text{
  font-size: 8px;
  color:yellow;
  display: block;
  line-height: 1;
}
.install-button{
  border:1px;
  border-radius: 15px;
  font-size: 10px;
  background-color:yellow;
}
.img-fluid {
  max-width: 30% !important;
  margin-left:30% !important;
}
.block-logo{
  display: none;
}
.logo-placeholder{
  line-height: 1.5;
  color:yellow;
  font-size: 12px;
  /* padding-left: 0%; */
  margin-left: -40px;
}
.logo-placeholder ul{
  list-style: none;
}
@media screen and (min-width: 800px) {
  .logo-placeholder{
  display:none;
  }
  .block-logo{
    display: block;
    margin-left: -100px;
    float: left;
    margin-top: 10px;
    height: auto;
    width:30%;
  }
  .block-logo ul{
    list-style: none;
  }
  .block-logo ul li .img-fluid{
    max-width: 100% !important;
  /* margin-left:30% !important; */
  }
  }
.header-title{
  font-size: 12px;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
}
.title{
  background: transparent;
  border-color: yellow;
  line-height: 1;
}

.navbar-custom{
  background-color: rgb(233, 238, 243)!important;
  /* overflow-y: auto; */
  position:sticky;
  /* position should be fixed after reaching the window with top=0*/
  /* solution: https://stackoverflow.com/questions/1216114/how-can-i-make-a-div-stick-to-the-top-of-the-screen-once-its-been-scrolled-to */
  /* https://stackoverflow.com/questions/18301702/change-css-header-after-scrolling/18301788#:~:text=Assuming%20you%20want%20to%20change,%24('%23logo'). */
  width: 100%;
  z-index:100;
  /* top:0; */
}
.changePosition{
  position:fixed;
  top:0;
}
.float-right{
  display: flex;
  float:right;
}
