mat-grid-tile {
  background: lightblue;
}
/* .grid-service{
  height:200px;
} */
.our-services {
  background-color: #70809C;
  padding: 10px 0 0 0;
  border-radius: 6px;
  overflow-y: hidden;
}
.overflow{
  overflow: hidden;
}
.cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.phases {
  text-align: center;
  border: 1px solid whitesmoke;
  padding: 10px;
  margin: 5px;
  background: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
}
.title {
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 1em;
  margin: 0;
  text-align: center;
}
.name {
  font-size: 1em;
  font-weight: 600;
}
img {
  width: 30px;
  height: 30px;
}
@media (min-width: 38em) {
  /* .our-services { */
    /* padding: 20px 110px 20px; */
  /* } */
  .cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .phases {
    padding: 10px;
    margin: 20px 40px;
    transition: transform 0.2s;
    box-shadow: 5px 5px 5px #aaaaaa;
    border-radius: 20px;
  }
  .phases:hover {
    transform: scale(1.1);
  }
  img {
    width: 50px;
    height: 50px;
  }
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
