<!--
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile class="grid-service">
    <a href="#">
      <ul>
        <li><p class="para"><img class="img-fluid" src="assets/images/icons/general.png"></p><p>General Service</p></li>
        D:\Automovill_Projects\automovill-angular\src\assets\images\icons
      </ul>
    </a>
  </mat-grid-tile>


  <mat-grid-tile>

  </mat-grid-tile>


  <mat-grid-tile>

  </mat-grid-tile>


  <mat-grid-tile>

  </mat-grid-tile>


  <mat-grid-tile>

  </mat-grid-tile>


  <mat-grid-tile>

  </mat-grid-tile>

</mat-grid-list> -->


<!-- https://material.angular.io/components/grid-list/overview
https://material.angular.io/components/grid-list/api
-->
<div class="our-services " id="our-services">
  <h2 class="title">Our Services</h2>
  <div class="container-fluid overflow">
      <div class="cont">
          <a class="ref">
              <div class="phases">
                  <img src="./assets/images/icons/general.png" />
                  <h4 class="name">General Service</h4>
              </div>
          </a>
          <a class="ref">
              <div class="phases">
                  <img src="./assets/images/icons/accidental.png" />
                  <h4 class="name">Accidental Repair</h4>
              </div>
          </a>
          <a class="ref">
              <div class="phases">
                  <img src="./assets/images/icons/paint.png" />
                  <h4 class="name">Denting & Painting</h4>
              </div>
          </a>
          <a class="ref">
              <div class="phases">
                  <img src="./assets/images/icons/power.png" />
                  <h4 class="name">Battery Service</h4>
              </div>
          </a>

          <a class="ref">
              <div class="phases">
                  <img src="./assets/images/icons/warranty.jpeg" />
                  <h4 class="name">Automovill Warranty</h4>
              </div>
          </a>
          <a class="ref">
              <div class="phases">
                  <img src="./assets/images/icons/wire.png" />
                  <h4 class="name">AC/Electrical Work</h4>
              </div>
          </a>
      </div>
  </div>
</div>
