.review{
  border: 1px solid rgb(209, 245, 6);
  /* border-color: yellow; */
  /* border-width: 1px; */
  width:90%;
  height:100px;
  position: relative;
  float:left;
}
.see{
  width:10%;
  float:right;
  height:100px;
}

.border{
  margin-top:20px;
  margin-bottom: 20px;
  padding-top: 5px;
}
