<!-- <div class="body">
<nav class="navigation">
  <ul>
    <li class="list active">
      <a href="#">
        <span class="icon"><mat-icon>home</mat-icon></span>
        <span class="text">Home</span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><mat-icon>whatsapp</mat-icon></span>
        <span class="text">Whatsapp</span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><mat-icon>call</mat-icon></span>
        <span class="text">Call Us</span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><mat-icon>perm_identity</mat-icon></span>
        <span class="text">You</span>
      </a>
    </li>
    <div class="indicator"></div>
  </ul>
</nav>

</div> -->
<div class="hide-desktop">
  <div>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom sticky-bottom" >
      <a href="#home">
        <ul>
          <li><p class="para"><mat-icon>home</mat-icon></p><p>Home</p></li>
        </ul>
      </a>
      <a href="https://wa.me/+918712100517">
        <ul>
          <li><p class="para"><mat-icon>whatsapp</mat-icon></p><p>Whatsapp</p></li>
        </ul>
      </a>
      <a href="tel:+917353600400">
        <ul>
          <li><p class="para"><mat-icon>call</mat-icon></p><p>Call Us</p></li>
        </ul>
      </a>
      <a href="#contact">
        <ul>
          <li><p class="para"><mat-icon>perm_identity</mat-icon></p><p>you</p></li>
        </ul>
      </a>
    </nav>
  </div>
</div>
