 /* *{ */
  /* margin: 0;
  padding :0;
  box-sizing: border-box; */
  /* font-family:'Poppins',sans-serif; */
  /* }
  :root{
  --clr: #222327;
  }

  .body{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background: var(--clr);
  }

  .navigation{
  width:400px;
  height:70px;
  background:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:10px;
  }
  .navigation ul{
  display: flex;
  width: 350px;
  }

  .navigation ul li{
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 100;
  }
  .navigation ul li a{
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width:100%;
  text-align: center;
  font-weight:500;
  }
  .navigation ul li a .icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
  }
  .navigation ul li:active a .icon{
  transform: translateY(-35px);
  }

  .navigation ul li a .text{
  position: absolute;
  color: var(--clr);
  font-weight:400;
  font-size:0.75em;
  letter-spacing:0.05em;
  transition:0.5s;
  opacity:0;
  transform: translateY(20px);
  }
  .navigation ul li:active a .text{
  opacity:1;
  transform: tanslateY(10px);
  }

  .indicator{
  position:absolute;
  top:-50%;
  width:70px;
  height: 70px;
  background:#29fd53;
  border-radius:50%;
  border: 6px solid var(--clr);
  transition:0.5s;
  }

  .indicator::before
  {
  content:'';
  position:absolute;
  top:50%;
  left:-22px;
  width:20px;
  height:20px;
  background:transparent;
  border-top-right-radius:20px;
  box-shadow: 0px -10px 0 0 var(--clr);
  }

  .indicator::after
  {
  content:'';
  position:absolute;
  top:50%;
  right:-22px;
  width:20px;
  height:20px;
  background:transparent;
  border-top-left-radius:20px;
  box-shadow: 0px -10px 0 0 var(--clr);
  }

  .navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
    }

    .navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
    }

    .navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
    }

    .navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
    } */

 .navbar-custom{
  /* background-color: rgb(39, 56, 73)!important; */
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0%;
  z-index: 1000;
 }
 .navbar-custom a {
  float:left;
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 10px;
  justify-content:center;
  margin-left: -25px;
  margin-bottom: -30px;
}
.navbar-custom a ul li{
  list-style: none;
  position: relative;
  justify-content:center;
}
.navbar-custom a ul{
  display: flex;
  justify-content:center;
}

.navbar-custom a:hover {
  /* background: #f1f1f1; */
  border-bottom: sandybrown;
  text-underline-position: auto;
  color: rgb(168, 216, 57);
}

.navbar-custom a.active {
  /* background-color: #04AA6D; */
  border-bottom: sandybrown;
  text-underline-position: auto;
  color: rgb(168, 216, 57);
}
.para{
  margin: 0%;
  padding: 0%;
  line-height: 0%;
}
@media screen and (min-width: 800px) {
.hide-desktop{
display:none;
}
}
