.example-form {
  /* min-width: 150px;
  max-width: 500px; */
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.title {
  /* font-size: 2em; */
  font-weight: 600;
  /* padding-bottom: 1em; */
  margin: 0;
  text-align: center;

}
.align-center{
text-align: center;
}


.estimation-section{
background-color: aliceblue;
  padding-bottom: 20px;
  padding-top: 5px;
}

.btn-estimate {
font-size: 15px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 0.9px;
color: rgb(33, 33, 33);
background-color: rgb(255, 201, 75);
border: none;
cursor: pointer;
/* padding: 0.5rem 5rem; */
border-radius: 10px;
}

.selector {
margin: 5px auto 0px;
overflow: hidden;
border-radius: 10px;
/* height: 40px; */
}

@media only screen and (min-width: 1024px) {
.center-estimation{
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.btn-estimate{
  /* padding: 0.5rem 1.2rem; */
  padding: auto;
}
}
