<!-- <div>
  <div>
    <mat-card class="inline-block">
    <form class="example-form">
    <mat-form-field appearance="fill">
      <mat-label>Cars</mat-label>
      <select matNativeControl required>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    <mat-label>Name</mat-label>
      <input matInput placeholder="Name" value="">
    <mat-label>Phone Number</mat-label>
      <input matInput placeholder="Phone Number" value="">
    <mat-label>E-Mail-Address</mat-label>
      <input matInput placeholder="email Address" value="">
    </mat-form-field>
  </form>
</mat-card>
  </div>

</div> -->

<!-- https://material.angular.io/components/input/overview -->
<!-- https://material.angular.io/components/autocomplete/overview
      https://material.angular.io/components/form-field/overview

-->
<div class="container-fluid estimation-section">
  <h3 class="title">Need Any Service?</h3>
  <div class="row center-estimation">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Your Name" aria-label="Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="input-group mb-3 selector">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">+91</span>
          </div>
          <input type="text" class="form-control" placeholder="Phone Number" aria-label="phone" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="input-group mb-3 selector">
          <input type="text" class="form-control" placeholder="Your Email" aria-label="email" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">.com</span>
          </div>
        </div>
      </div>
      <div class="col-md-16 col-sm-12 col-xs-12 align-center">
              <button type="button" class="btn btn-primary btn-lg btn-estimate selector">Quick Book</button>
      </div>
  </div>
</div>
