.scrolling-wrapper {
  overflow-x:inherit;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling:initial;

}
::-webkit-scrollbar {
  width: 1px;
}
.card {
    display: inline-block;
    margin-left: 5px;
}
.red-font{
  color:red;
}
.small-font{
  font-size: x-small;
}
