<div>
  <p>Offers and Coupons</p>
</div>
<div class="scrolling-wrapper">
  <div class="card">
    <mat-card class="example-card">
    <mat-card-title-group>
        <!-- try for multiple sub-title -->
      <mat-card-subtitle>General Service</mat-card-subtitle>
      <mat-card-subtitle>Coupon:<span class="red-font">GENERAL999</span></mat-card-subtitle>
      <!-- <p class="small-font">Upto RS:999<sup>*</sup>off</p> -->
      <!-- <mat-card-subtitle><span class="small-font">Upto RS:999<sup>*</sup>off</span></mat-card-subtitle> -->
      <img mat-card-sm-image src="assets/images/pics/comprehensive.jpg" >
    </mat-card-title-group>
  </mat-card>
</div>
<div class="card">
  <mat-card class="example-card">
    <mat-card-title-group>

      <mat-card-subtitle>Denting and painting</mat-card-subtitle>
      <mat-card-subtitle>Coupon:<span class="red-font">DENT1000</span></mat-card-subtitle>
      <img mat-card-sm-image src="assets/images/pics/decarbon.jpg" >
    </mat-card-title-group>
  </mat-card>
</div>
  <div class="card"><mat-card class="example-card">
    <mat-card-title-group>

      <mat-card-subtitle>Health Checkup</mat-card-subtitle>
      <mat-card-subtitle>Coupon:<span class="red-font">CARHEALTH20</span></mat-card-subtitle>
      <img mat-card-sm-image src="assets/images/pics/gen_health_checkup.jpg" >
    </mat-card-title-group>
  </mat-card></div>
  <div class="card"><mat-card class="example-card">
    <mat-card-title-group>

      <mat-card-subtitle>New city</mat-card-subtitle>
      <mat-card-subtitle>Coupon:<span class="red-font">ACSERVICE999</span></mat-card-subtitle>
      <img mat-card-sm-image src="assets/images/pics/AC_service.jpg" >
    </mat-card-title-group>
  </mat-card></div>
  <div class="card"><mat-card class="example-card">
    <mat-card-title-group>

      <mat-card-subtitle>Other Services</mat-card-subtitle>
      <mat-card-subtitle>Coupon:<span class="red-font">REPAIRX20</span></mat-card-subtitle>
      <img mat-card-sm-image src="assets/images/services/general-service.jpg" >
    </mat-card-title-group>
  </mat-card></div>
  <!-- https://material.angular.io/components/card/examples -->
  <!-- https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6 -->
</div>
<p class="small-font red-font"><sup>*</sup>click to know more!!</p>
